.star-rating {
    direction: rtl;
    display: inline-flex;
}

    .star-rating input[type="radio"] {
        display: none;
    }

    .star-rating label {
        font-size: 2em;
        color: lightgray;
        cursor: pointer;
    }

        .star-rating label:hover,
        .star-rating label:hover ~ label,
        .star-rating input[type="radio"]:checked ~ label {
            color: gold;
        }
